{% extends "base.html" %}
{##}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-push-2">
        <form action="." method="post">
            {% csrf_token %}
            <h2><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>{% trans "Create Agent" %}</h2>
            <hr/>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% include "extension/snippets/agent-form.html" %}
            <p class="text-left">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-saved" aria-hidden="true"></span> {% trans "Save changes" %}</button>
                <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {% trans "Discard changes" %}</button>
            </p>
        </form>
    </div>
</div>
{% endblock content %}
