{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Your profile" %} — {{ block.super }}{% endblock %}
{##}
{#{% block breadcrumb %}#}
{#    {{ block.super }}#}
{#    <li><a href="{% url 'profile:details' %}">{% trans "Your profile" %}</a></li>#}
{#{% endblock breadcrumb %}#}

{% block content %}

       {% if user.is_authenticated %}
           {% if not profile.first_name  or not profile.department  %}
              {% include "userprofile/_notcomplete.html" %}
           {% else %}
               {% include "userprofile/_completed.html" %}
           {% endif %}
       {% endif %}

{% endblock content %}

