{% extends "base.html" %}
{##}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-push-2">
        <form action="." method="post">
            {% csrf_token %}
            <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {% trans "USER: " %} <span style="color: darkorange">{{ profile.user.email }} </span></h3>
            <hr/>
            {% include "userprofile/snippets/profile-view.html" %}
            <p class="text-left">
                <a href="{% url 'profile:profile-edit' pk=profile.pk %}" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> {% trans "Edit User " %}</a>
            </p>
        </form>
    </div>
</div>
{% endblock content %}
