{% extends "base_login.html" %}
{% load bootstrap_form from bootstrap3 %}
{% load i18n %}

{% block title %}{% trans "Login" %} — {{ block.super }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="content-box-bordered login-box box-with-help">
        <form class="form-horizontal" role="form" method="post" action="{% url 'registration:login' %}">
            {% csrf_token %}
             <fieldset>
                <!--<legend><span style="color: #cc7a00; font-weight: bold" >{% trans 'LOG IN' %}</span></legend>-->
                {% bootstrap_form form %}
                <input type="hidden" name="next" value="{{ next }}" />
            </fieldset>
            <div class="form-group">                
                <button class="btn btn-primary btn-md button-submit">
                    {% trans "Sign in" %} <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                </button>
            </div>
            <a class="btn btn-secondary" href="{% url 'registration:request_email_confirmation' %}">{% trans "Can't remember my password'" %}</a>
        </form>
    </div>
</div>
{% endblock %}
