{% load bootstrap_field from bootstrap3 %}


{#<div class="row">#}
{#    <div class="col-sm-3">#}
{#        {% bootstrap_field pop_form.geo_auto %}#}
{#    </div>#}
{#    <div class="col-sm-3 ">#}
{#        {% bootstrap_field pop_form.state_auto %}#}
{#    </div>#}
{#    <div class="col-sm-3">#}
{#        {% bootstrap_field pop_form.lga_auto %}#}
{#    </div>#}
{#    <div class="col-sm-3 ">#}
{#        {% bootstrap_field pop_form.city_auto %}#}
{#    </div>#}
{#</div>#}
{#<div class="row">#}
{#    <div class="col-sm-12">#}
{#        {% bootstrap_field pop_form.street_auto %}#}
{#    </div>#}
{##}
{#</div>#}
<div class="row">
{#    <div class="col-sm-3">#}
{#        {% bootstrap_field pop_form.first_name %}#}
{#    </div>#}
{#    <div class="col-sm-3">#}
{#        {% bootstrap_field pop_form.last_name %}#}
{#    </div>#}
    <div class="col-sm-3">
        {% bootstrap_field pop_form.phone %}
    </div>
{#     <div class="col-sm-3 ">#}
{#        {% bootstrap_field pop_form.incident_location %}#}
{#    </div>#}
</div>

{#<div class="row real" style="display: none">#}
{#    <div class="col-sm-3">#}
{#        {% bootstrap_field pop_form.geopolitical %}#}
{#    </div>#}
{#    <div class="col-sm-3 ">#}
{#        {% bootstrap_field pop_form.state %}#}
{#    </div>#}
{#    <div class="col-sm-3">#}
{#        {% bootstrap_field pop_form.lga %}#}
{#    </div>#}
{#    <div class="col-sm-3 ">#}
{#        {% bootstrap_field pop_form.city %}#}
{#    </div>#}
{#</div>#}
{#<div class="row real" style="display: none">#}
{#    <div class="col-sm-12">#}
{#        {% bootstrap_field pop_form.street %}#}
{#    </div>#}
{#</div>#}
{#<div class="row">#}
{#    <div class="col-sm-3">#}
{#        {% bootstrap_field pop_form.emergencies %}#}
{#    </div>#}
{#    <div class="col-sm-3">#}
{#        {% bootstrap_field pop_form.respondent %}#}
{#    </div>#}
{#    <div class="col-sm-3">#}
{#        {% bootstrap_field pop_form.injured_citizen %}#}
{#    </div>#}
{#    <div class="col-sm-3 form-number" style="display: none">#}
{#        {% bootstrap_field pop_form.inc_number %}#}
{#    </div>#}
{#</div>#}
{##}
{##}
{#<div class="row">#}
{#    <div class="col-sm-12">#}
{#        {% bootstrap_field pop_form.note %}#}
{#    </div>#}
{##}
{#</div>#}
{#<div class="row">#}
{#    <div class="col-sm-4" style="display: none">#}
{#        {% bootstrap_field pop_form.context %}#}
{#    </div>#}
{##}
{#    <div class="col-sm-4" style="display: none">#}
{#        {% bootstrap_field pop_form.channel %}#}
{#    </div>#}
{#    <div class="col-sm-4" style="display: none">#}
{#        {% bootstrap_field pop_form.agent %}#}
{#    </div>#}
{#</div>#}
