{% load bootstrap_field from bootstrap3 %}
<div class="row">
    <div class="col-sm-12">
        {% bootstrap_field hoax_form.hoax_type %}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {% bootstrap_field hoax_form.review_period %}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {% bootstrap_field hoax_form.number_hoax %}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {% bootstrap_field hoax_form.placed_hoax %}
    </div>
</div>

